.App {
  .group-btn {
    position: fixed;
    top: 10%;
    display: flex;
    flex-direction: column;
    button {
      border-radius: 3px;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      background-color: #cce0f1;
      img {
        height: 24px;
      }
      img.en {
        height: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    button:hover {
      border: 1px solid rgb(105, 175, 240);
      background-color: rgb(74, 128, 179);
      outline: 0;     
       outline-style: none;     
       outline-width: 0; 
    }
    button:active, button:focus {
      outline: 0;     
       outline-style: none;     
       outline-width: 0; 
       background-color: rgb(250, 113, 21);
    }
  }
}